<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Awesome_Job_Finder</title>
</head>

<body>
    <header>
        <nav>
            <span class="login">
                Log in
            </span>
            <span class="signupbox">
                Sign up
            </span>
            <span class="logout">
                Log out
            </span>
        </nav>

        <h1>If you can dream it, you can do it.</h1>

        <div class="headerbox">
            <div class="searchjobs">
                <div class="highlighted_area">
                    
                    <div class="tags">
                        <span id="search">
                            <a href="">Search</a> 
                        </span>
                        <span id="post">
                            <a href="">Post</a> 
                        </span>
                    </div>
                    <div class="inputform">
                        <form action="/searchjobs" , method="get">
                            <input type="text" name="searchbox" size="20" maxlength="20"
                                placeholder="Enter job title" />
                            <input type="text" name="zips" size="5" maxlength="10" placeholder="City/Zip Code" />
                            <input type="submit" value="Search Jobs" />
                        </form>
                    </div>            
                
                    <div class="queryboxes">
                        <button class="querybox" , onclick="">Latest</button>
                        <button class="querybox" , onclick="">
                            Most Popular
                        </button>
                        <button class="querybox" , onclick="">For You</button>
                    </div>
                </div>    
            </div>

            <div class="postjobs">
                <div class="highlighted_area">
                    <div class="tag">
                        <span id="search">
                            <p>Search</p>
                        </span>
                        <span id="post">
                            <p>Post</p>
                        </span>
                    </div>

                    <form action="/postpopup" method="post">
                        <input type="text" name="title" size="20" maxlength="20" placeholder="Listing title" />
                        <input type="submit" value="Post job" />
                        <br />
                        <select name="category" id="category">
                            <option value="webdev" selected>
                                Web developer
                            </option>
                            <option value="softwereng">
                                Software engineer
                            </option>
                            <option value="devops">DevOps engineer</option>
                            <option value="secops">
                                Cybersecurity engineer
                            </option>
                            <option value="sysadmin">
                                System Administrator
                            </option>
                        </select>
                        <select name="flexible" id="flexible">
                            <option value="onsite" selected>On-site</option>
                            <option value="hybrid">Hybrid</option>
                            <option value="remote">Remote</option>
                        </select>
                        <select name="hours" id="hours">
                            <option value="fulltime" selected>
                                Full time
                            </option>
                            <option value="parttime">Part time</option>
                            <option value="flexible">Flexible</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        
    </header>

    <br />

    <main>
        <div>
            <p>Recents</p>
            <!-- Either a popup menu or a dropdown checkbox list with filters list -->
            <button type="button" onclick="">filters</button>
        </div>

        <article>
            <div class="articles">
                <!-- These should be fetched from the database and redirect to a route like /joblist/<id> but this works for now-->
                <div class="listing" style="border: 1px; width: 400px">
                    <h3 class="title">Πωλητής-Πωλήτρια</h3>
                    <p class="companyname">ATALLAS CERAMICA</p>
                    <p class="location">Πάτρα</p>
                    <p class="content">
                        Ζητείται πωλητης-πωλήτρια σε κατάστημα
                        πλακιδίων-ειδών υγιεινής στην Πάτρα (ATALLAS
                        CERAMICA ). Απαραίτητη προϋπηρεσία στην πώληση.
                        Πλήρης απασχόλ...
                    </p>
                    <p class="postedat">Αναρτήθηκε: Πριν 2 μέρες</p>
                    <span class="logo"></span>
                </div>
                <div class="listing" style="border: 1px; width: 400px">
                    <h3 class="title">Πωλητής-Πωλήτρια</h3>
                    <p class="companyname">ATALLAS CERAMICA</p>
                    <p class="location">Πάτρα</p>
                    <p class="content">
                        Ζητείται πωλητης-πωλήτρια σε κατάστημα
                        πλακιδίων-ειδών υγιεινής στην Πάτρα (ATALLAS
                        CERAMICA ). Απαραίτητη προϋπηρεσία στην πώληση.
                        Πλήρης απασχόλ...
                    </p>
                    <p class="postedat">Αναρτήθηκε: Πριν 2 μέρες</p>
                    <span class="logo"></span>
                </div>
                <div class="listing" style="border: 1px; width: 400px">
                    <h3 class="title">Πωλητής-Πωλήτρια</h3>
                    <p class="companyname">ATALLAS CERAMICA</p>
                    <p class="location">Πάτρα</p>
                    <p class="content">
                        Ζητείται πωλητης-πωλήτρια σε κατάστημα
                        πλακιδίων-ειδών υγιεινής στην Πάτρα (ATALLAS
                        CERAMICA ). Απαραίτητη προϋπηρεσία στην πώληση.
                        Πλήρης απασχόλ...
                    </p>
                    <p class="postedat">Αναρτήθηκε: Πριν 2 μέρες</p>
                    <span class="logo"></span>
                </div>

            </div>
            </div>
        </article>

        <!-- https://stackoverflow.com/questions/27313480/scroll-div-content-horizontally-using-left-and-right-arrow-in-jquery -->
        <div class="companieslider">
            <div id="rightArrow">
                <a href="#"><img src="../images/right.png" width="30" /></a>
            </div>
            <div id="viewContainer">
                <div id="tslshow">
                    <div class="bktibx">Stack overflow</div>
                    <div class="bktibx">Cosmote</div>
                    <div class="bktibx">Vodafone</div>
                    <div class="bktibx">Wind-Hellas</div>
                    <div class="bktibx">Pizza Hut</div>
                    <div class="bktibx">Samsung</div>
                    <div class="bktibx">Univ. of Patras</div>
                    <div class="bktibx">Discord</div>
                    <div class="bktibx">Google</div>
                    <div class="bktibx">Platinum Records</div>
                </div>
            </div>
            <div id="leftArrow">
                <a href="#"><img src="../images/left.png" width="30" /></a>
            </div>
        </div>
    </main>

    <br />

    <footer>
        <div class="mainarea">
            <div class="firstcol">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Help Center</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="secondcol">
                <ul>
                    <li><a href="">We 're hiring!</a></li>
                    <li><a href="">Blog</a></li>
                </ul>                
            </div>
            <!-- Add social media images w/ links to some profiles -->
            <div class="socials">
                <span class="socialtext">Find us on social media!</span>
                <ul>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                    <li>
                        <a href="">
                            <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                        </a>
        
                    </li>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                    <li><a href="">
                        <img alt="Qries" src="https://www.qries.com/images/banner_logo.png" width="30" height="30" />
                    </a>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="legalstuff">
            <ul>
                <li><a href="">Cookies</a></li>
                <li><a href="">Terms and conditions</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><p>All rights reserved ©2022</p></li>
            </ul>
        </div>
    </footer>
</body>

</html>