<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/listing.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="listing">
            <div class="wrapper">
                <div class="info">
                    <h3 class="title">Πωλητής-Πωλήτρια</h3>
                    <h5 class="workhours">Part-time - On-site</h5>
                </div>

                <div class="totheleft">
                    <div class="logo"></div>
                    <div class="companyname"><p>ATALLAS CERAMICA</p></div>
                    <div class="location"><p >Πάτρα</p></div>
                </div>
                <p class="content">
                    Ζητείται πωλητης-πωλήτρια σε κατάστημα πλακιδίων-ειδών
                    υγιεινής στην Πάτρα (ATALLAS CERAMICA ). Απαραίτητη
                    προϋπηρεσία στην πώληση. Πλήρης απασχόλ...
                </p>
                <p class="postedat">Αναρτήθηκε: Πριν 2 μέρες</p>
            </div>

        </div>
    </body>
</html>