<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/bootstrap.js"></script>
    <script src="https://unpk.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="./javascripts/responsive.js" defer></script>
    <title>Amazing_Job_Finder</title>
</head>

<style>
</style>


<div class="signupModalsChain">
    <div class="modal fade" id="signupModal" aria-hidden="true" aria-labelledby="signupModalLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Welcome!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Sign up</h1>
                    <div class="inputField">
                        <label for="username">Username:</label><br>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="inputField">
                        <label for="email">E-mail:</label><br>
                        <input type="text" name="email" id="email">
                    </div>
                    <button id="signupButton1" class="btn btn-primary" data-bs-target="#signupModal2"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
                    <div>
                        <p id="signupOr">or</p>
                    </div>
                    <div class="signupExternals">
                        <button id="facebookbutton">Continue with Facebook</button><br>
                        <button id="googlebutton">Continue with Google</button><br>
                        <button id="applebutton">Continue with Apple</button>
                    </div>
                    <div class="signupLogin">
                        <p class="blueBold">Already have an account?</p>
                        <p class="orangeUnderlined">Log in</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupModal2" aria-hidden="true" aria-labelledby="signupModalLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel2">Please enter your password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Sign up</h1>
                    <div class="inputField">
                        <label for="signupPassword">Password:</label><br>
                        <input type="password" name="password" id="signupPassword">
                    </div>
                    <div class="inputField">
                        <label for="signupPasswordConfirm">Confirm Password:</label><br>
                        <input type="password" name="confirmpassword" id="signupPasswordConfirm">
                    </div>
                    <button id="signupButton2" class="btn btn-primary" data-bs-target="#signupModal3"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
                    <button class="btn btn-primary btn-back" data-bs-target="#signupModal" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupModal3" aria-hidden="true" aria-labelledby="signupModalLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel2">Are you an employee, or an employer?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>I want to...</h1>
                    <button id="signupButton3" class="btn btn-primary" data-bs-target="#signupModal4"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Find Jobs</button>
                    <button id="signupButton10" class="btn btn-primary" data-bs-target="#signupModal5"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Post Jobs</button>
                    <button class="btn btn-primary btn-back" data-bs-target="#signupModal2" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupModal4" aria-hidden="true" aria-labelledby="signupModalLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel2">What kinds of jobs are you looking for?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Interests</h1>
                    <div class="signupFlexwrapper">
                        <div class="signupcollumn1">
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>

                        </div>
                        <div class="signupcollumn2">
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                        </div>

                    </div>
                    <button type="submit" id="signupButton4" class="btn btn-primary"> Continue</button>
                    <button class="btn btn-primary btn-back" data-bs-target="#signupModal3" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupModal5" aria-hidden="true" aria-labelledby="signupModalLabel5" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel2">What jobs are you posting?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>I am looking for</h1>
                    <div class="signupFlexwrapper">
                        <div class="signupcollumn1">
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>

                        </div>
                        <div class="signupcollumn2">
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                            <input type="checkbox" name="tech" id="techbox"><label for="techbox">Tech</label>
                        </div>
                    </div>

                    <button type="submit" id="signupButton5" class="btn btn-primary"> Continue</button>
                    <button class="btn btn-primary btn-back" data-bs-target="#signupModal3" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" data-bs-toggle="modal" href="#signupModal" role="button">Open first modal</a>

</html>

