body {
  position: relative;
  height: fit-content;
  width: auto;
  max-width: 1920px;
  min-width: 700px;
  margin: 2px;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

input {
  position: relative;
  height: 33px;
  background: #f3eff5;
  border-radius: 7.5px;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

/* This should probably be done another way */
input:focus::-webkit-input-placeholder {
  color: #f3eff5;
}

.disabled {
  pointer-events: none;
}

.warning,
.warning:focus {
  border: 2px solid red;
}

.success,
.success:focus {
  border: 2px solid green;
}

body .whitetext,
.login {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

header .tags .active,
#submit {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #4ebfff;
  border-radius: 10px 10px 0px 0px;
}

.activetag {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #4ebfff;
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.greeting {
  /* display: none; */
}

.inactivetag {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #000000;
  background: #f3eff5;
  border-radius: 10px 10px 0px 0px;
  border: none;
}

.activetag:focus,
.inactive:focus {
  outline: none;
  border: none;
}

header .tags .inactive {
  background: #f3eff5;
  border-radius: 10px 10px 0px 0px;
}

header .tags .inactive a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #050609;
}

.querybox {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #050609;
  position: relative;
  width: 160px;
  height: 52px;
  background: #f3eff5;
  border-radius: 7.5px;
  border: none;
}

select {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #050609;
  position: relative;
  width: 160px;
  height: 35px;
  background: #f3eff5;
  border-radius: 7.5px;
  border: none;
  top: 30px;
  margin-left: 22px;
}

/* ================================= */

header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 500px;
  min-width: auto;
  background-image: url('../images/banner.svg');
  background-position: 40% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

nav {
  display: block;
  height: 100px;
  margin-bottom: 20px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 30px, 75px;
  background-position-y: center;
}

nav .signupbox {
  margin: 30px 30px 10px 30px;

  display: block;
  float: right;
  height: 40px;
  width: 82px;
  background: #e86c4a;
  border: 2px solid #e86c4a;
  line-height: 36px;
  border-radius: 5px;

  margin-right: 10px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

nav .signupbox p {
  text-align: center;
}

nav .login {
  margin: 30px 30px 20px 0px;

  display: block;
  float: right;
  color: #e86c4a;
  border: 2px solid #e86c4a;
  border-radius: 3.5px;
  width: 80px;
  height: 40px;
  line-height: 37px;
}

header h1 {
  margin-bottom: 20px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin-top: 50px;
  text-align: center;
  color: #e86c4a;
}

header .headerwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .headerbox {
  width: 580px;
  height: 182px;
  filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
}

header .highlighted_area {
  height: 155px;
  background-color: #4ebfff;
}

header .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

header .tags div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

header .inputwrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 30px;
}

header .inputform {
  margin-top: -10px;
}

header .inputform input {
  margin-left: 25px;
}

header .inputform input:last-child {
  margin-left: 15px;
}

header #searchbox {
  width: 240px;
}

header #searchbox {
  padding-left: 10px;
}

header #zips {
  text-align: center;
  width: 120px;
}

header #submit {
  width: 120px;
  line-height: 50%;
  margin-right: 25px;
  height: 33.5px;
  background: #e86c4a;
  border-radius: 10px;
}

header .postjobs select:first-child {
  margin: 0%;
}

header .queryboxeswrapper {
  padding: 0%;
  margin: 0%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ebfff;
}

header .queryboxeswrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 50px;
  background-color: #4ebfff;
  padding-top: 25px;
}

header .queryboxes .querybox {
  bottom: 15px;
  right: 10px;
}

header .queryboxes button {
  margin-left: 20px;
}

header .queryboxes button:first-child {
  margin-left: 0px;
}

header #postlisting {
  width: 340px;
  padding-left: 10px;
  background: #f3eff5;
  border-radius: 7.5px;
  margin-left: 0%;
}

header #postjob {
  width: 115px;
  height: 34px;
  bottom: 1px;
  left: 47px;
  background: #e86c4a;
  border: 0px;
  border-radius: 7.5px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* ================================= */

.modal-header p {
  margin: 0%;
}

.modal-header .empty {
  flex: 1%;
}

.modal-header .modal-title {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 99%;
}

.modal-body {
  height: 500px;
}

.modal-body .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.modal-body .thirdcol {
  margin-bottom: 40px;
  flex: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
}

.modal-body .thirdcol div {
  margin-left: 70px;
  align-items: center;
  justify-content: center;
}

.modal-body .secondcol {
  flex: 1%;
}

.modal-body .firstcol {
  flex: 40%;
  height: inherit;
  margin-left: 10px;
}

.modal-body .firstcol #longdescription {
  height: 290px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background-color: #f3eff5;
  resize: none;
  padding-left: 5px;
}

.modal-body .firstcol span {
  text-indent: 10px;
}

.modal-body .firstcol .contactinputs {
  top: 0.1px;
  display: inline;
  height: 18px;
  margin: 0%;
  padding: 0%;
  margin-left: 5px;
  padding-left: 10px;
}

.modal-body select,
.modal-body input {
  top: 0%;
  margin-left: 0%;
  bottom: 10px;
  width: 250px;
  padding-left: 10px;
}

#searchModal .modal-body .firstcol p {
  max-height: 400px;
  overflow-y: scroll;
  background-color: #f3eff5;
}

#searchModal .modal-body .firstcol p {
  margin-top: 14px;
}

.modal-body .searchwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.modal-body .thirdcolsearch {
  background: rgba(111, 203, 255, 0.15);
  border-radius: 3.50661px;
  flex: 40%;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-evenly;
  height: 400px;
  margin-top: 25px;
}

.modal-body .thirdcolsearch p {
  margin: 0%;
  margin-left: 40px;
  font-size: 20px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 5px;
}

.modal-body .thirdcolsearch .infofield p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 5px;
  color: #000000;
}

.modal-body .thirdcolsearch div {
  margin: 0%;
}

#modalfooter {
  background-color: #e86c4a;
  width: auto;
  height: 100px;
  margin-top: 15px;
}

#modal-footer .contactInfo span {
  display: inline;
}

.modal-body .flexwrapper {
  display: flex;
  flex-direction: column;
}

.modal-body .flexwrapper #filters_text {
  margin-top: -15px;
}

.modal-body .flexwrapper .filters_content {
  flex: 20%;
  margin-top: 15px;
}

.modal-body .flexwrapper .filters_content p {
  margin: 0%;
  padding: 0%;
  position: unset;
}
.modal-body .flexwrapper .filters_content input {
  width: 50px;
  height: 25px;
}

.modal-body .flexwrapper .filters_content .label-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 5px;
}

.modal-body .flexwrapper .filters_content .label-input-wrapper input {
  margin: 0%;
  padding: 0%;
  position: unset;
}

.modal-body .flexwrapper2 {
  display: flex;
  flex-direction: row;
}

.modal-body .filters_onsite .label-input-wrapper {
  align-items: center;
  justify-content: center;
}

.modal-body .flexwrapper2 div,
.modal-body .flexwrapper div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#filtersModal .modal-body {
  height: unset;
}

main .filters {
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  justify-content: space-evenly;
}

main .filters button {
  min-width: 125px;
  max-width: 125px;
}

main .filters h4 {
  min-width: fit-content;
  max-width: fit-content;
}

#filtersbutton:hover,
#filtersbutton:checked {
  background-color: #e86c4a;
}

#filtersModal .modal-body p {
  font-weight: 800;
}

.signupModalsChain input {
  position: unset;
}

.signupModalsChain .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.signupModalsChain .btn-back {
  background-color: #ffffff;
  border: none;
  color: #4ebfff;
}

.signupModalsChain .signupExternals {
  display: flex;
  flex-direction: column;
}

.signupModalsChain .signupExternals img {
  width: 250px;
  justify-content: center;
  align-items: center;
}

.signupModalsChain .signupLogin p {
  display: inline;
}
.signupModalsChain .inputField {
  margin-top: 5px;
}
.signupModalsChain .inputField input {
  background: #f3eff5;
  box-shadow: inset -4px 4px 5px rgba(15, 66, 104, 0.05);
  border-radius: 3.5px;
}
#signupButton1,
#signupButton2,
#signupButton3,
#signupButton4,
#signupButton5,
#loginButton {
  margin-top: 20px;
  width: 250px;
  background-color: #e86c4a;
  border: none;
}

#signupButton10 {
  margin-top: 7.5px;
  width: 250px;
  background-color: #ffffff;
  border: 3px solid #e86c4a;
  color: #e86c4a;
}

.signupModalsChain .signupLogin {
  margin-top: 15px;
}

.signupModalsChain #signupOr {
  margin-top: 20px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #7b7a7a;
}

.signupModalsChain .signupLogin .blueBold {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;

  color: #4ebfff;
}

.signupModalsChain .blueBold {
  margin-top: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;

  color: #4ebfff;
}

.signupModalsChain .signupLogin .orangeUnderlined {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;

  color: #e86c4a;
}

.signupModalsChain .signupFlexwrapper {
  display: flex;
  flex-direction: row;
}

.signupModalsChain .signupFlexwrapper .signupcollumn1,
.signupModalsChain .signupFlexwrapper .signupcollumn2 {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signupModalsChain .signupFlexwrapper .signupcollumn1 label,
.signupModalsChain .signupFlexwrapper .signupcollumn2 label {
  position: relative;
  bottom: 30px;
  left: 50px;
  width: 120px;
  max-width: 120px;
}

.signupModalsChain .signupFlexwrapper .signupcollumn1 input,
.signupModalsChain .signupFlexwrapper .signupcollumn2 input {
  position: relative;
  left: 50px;
}

/* ================================= */

.weakpass {
  color: #cc6600;
  font-weight: 600;
}

.mediumpass {
  color: #cccc00;
  font-weight: 600;
}

.strongpass {
  color: yellowgreen;
  font-weight: 600;
}

.verystrongpass {
  color: #01a1b6;
  font-weight: 600;
}

/* ================================= */

main .flexwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .sponsors {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  text-align: center;
  color: #000000;
}

main .carousel {
  width: 700px;
  justify-content: center;
}

main .carousel-item {
  justify-content: center;
}

main .mainwrapper {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .recents {
  margin: 0%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
}

main .filters button {
  border: none;
  width: 160px;
  height: 30px;
  background: #e86c4a;
  border-radius: 7.5px;
  line-height: 50%;
}

#mainscreenInfo {
  margin: 0%;
  text-align: center;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.articles .listing {
  background-color: white;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.25));
  width: 700px;
  height: 180px;
  max-width: 700px;
  max-height: 180px;
  margin-bottom: 15px;
}

.articles .listing:hover {
  cursor: pointer;
}

.articles .title {
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.articles .wrapper {
  margin-left: 32px;
}

.articles .companyname {
  width: 110px;
  height: 18px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #629677;
}

.articles .info {
  position: relative;
  top: 13px;
}

.articles .workhours {
  position: relative;
  font-family: 'Times';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #7b7a7a;
  bottom: 20px;
}

.articles .totheleft {
  position: relative;
  display: flex;
  flex-direction: column;
  float: right;
  width: 150px;
  bottom: 40px;
  right: 40px;

  justify-content: center;
  text-align: center;
  align-items: center;
}

.articles .location {
  width: 50px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #7b7a7a;
}

.articles .logo {
  background-color: blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.articles .content {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 450px;
  bottom: 15px;
  color: #616060;
}

.articles .postedat {
  position: relative;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  bottom: 15px;
  color: #000000;
}

.articles {
  z-index: 1000;
}

#searchpopupdescription {
  min-height: 400px;
  height: 400px;
  padding-left: 10px;
  padding-top: 5px;
}

/* ================================= */

footer {
  background: #4ebfff;
}

footer .mainarea ul {
  list-style: none;
}

footer .mainarea {
  display: flex;
  flex-direction: row;
  padding: 0%;
  margin: 0%;
}

footer .socials ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  padding: 0%;
}

footer .socials li {
  padding: 0%;
  margin: 6px;
}

footer .socials {
  margin-top: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .socials ul {
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

footer .firstcol {
  margin-top: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
}

footer .secondcol {
  margin-top: 10px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
}

footer .thirdcol {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 22.5%;
}

footer .legalstuff {
  background: #c4c4c4;
}

footer .legalstuff ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
}

footer .legalstuff p {
  display: inline;
}
