body {
    position: relative;
    background: #ffffff;
    height: fit-content;
    width: auto;
    max-width: 1920px;
    min-width: 700px;
}

/* Can be used to dynamically alter behaviour. Maybe will add later???*/
@media screen and (max-width: 700px) {
    header h1 {
        display: none;
    }
}

a {
    text-decoration: none;
    cursor: inherit;
    color: inherit;
}

input {
    position: relative;
    height: 31px;
    background: #f3eff5;
    border-radius: 7.5px;
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

/* This should probably be done another way */
input:focus::-webkit-input-placeholder {
    color: #f3eff5;
}

button {
    position: relative;
    width: 160px;
    height: 52px;
    background: #f3eff5;
    border-radius: 7.5px;
    border: none;
}

body .whitetext, .login {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

header .tags .active, #submit {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background: #4ebfff;
    border-radius: 10px 10px 0px 0px;
}

header .tags .inactive {
    background: #f3eff5;
    border-radius: 10px 10px 0px 0px;
}
header .tags .inactive a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #050609;
}

.querybox {
    font-family: "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #050609;
}

/* ================================= */

header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 400px;
    min-width: auto;
    background-image: url("../images/banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 40%;
}

header nav {
    display: block;
    height: 60px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

header nav .signupbox {
    display: block;
    float: right;
    height: 40px;
    background: #e86c4a;
    border-radius: 5px;

    margin-right: 10px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

header nav .login {
    display: block;
    float: right;
    color: #e86c4a;
}

header h1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #e86c4a;
}

header nav .logout {
    display: none;
}

header .headerwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .headerbox {
    width: 580px;
    height: 182px;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
}

header .highlighted_area {
    margin-top: -10px;
    background-color: #4ebfff;
}

header .tags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#post {
    text-align: center;
}

header .tags div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
}

header .inputwrapper {
    position: relative;
    display: block;
    width: 100%;
    top: 30px;
}

header .inputform input {
    margin-left: 25px;
}

header .inputform input:last-child {
    margin-left: 15px;
}

header #searchbox {
    width: 250px;
}

header #searchbox::placeholder {
    padding-left: 10px;
}

header #zips {
    text-align: center;
    width: 100px;
}

header #submit {
    width: 125px;
    line-height: 50%;
    top: 1px;
    left: 20px;
    height: 33px;
    background: #e86c4a;
    border-radius: 10px;
    margin: 0%;
    padding: 0%;
}

header .queryboxeswrapper {
    position: relative;
    display: block;
    width: 100%;
    top: 50px;
    background-color: #4ebfff;
    padding-top: 25px;
}

header .queryboxes .querybox {
    bottom: 15px;
}

header .queryboxes button {
    margin-left: 25px;
}

/* This is to be selected if a user clicks on Post. */
header .postjobs {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    display: none;
}

/* ================================= */

main {
    background: #ffffff;
}

main .mainwrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}
/* Minor resizing problem here */
main .recents {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
}
main .filters {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10%;
}

main .dummy {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 32%;
}

main .dummy_two {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 18%;
}

main .dummy_three {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
}

main .filters button {
    width: 160px;
    height: 30px;
    background: #E86C4A;
    border-radius: 7.5px;
    line-height: 50%;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.articles .listing {
    background-color: white;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
    width: 700px;
    height: 180px;
    max-width: 700px;
    max-height: 180px;
    margin-bottom: 15px;
}

.articles .title {
    display: block;
    margin-top: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.articles .wrapper {
    margin-left: 32px;
}

.articles .companyname {
    width: 110px;
    height: 18px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #629677;
}

.articles .info {
    position: relative;
    top: 13px;
}

.articles .workhours {
    position: relative;
    font-family: "Times";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7b7a7a;
    bottom: 20px;
}

.articles .totheleft {
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    width: 150px;
    bottom: 40px;
    right: 40px;

    justify-content: center;
    text-align: center;
    align-items: center;
}

.articles .location {
    width: 50px;
    height: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #7b7a7a;
}

.articles .logo {
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.articles .content {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 450px;
    bottom: 15px;
    color: #616060;
}

.articles .postedat {
    position: relative;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    bottom: 15px;
    color: #000000;
}

/* ================================= */

footer {
    background: #4ebfff;
}

footer .mainarea ul {
    list-style: none;
}

footer .mainarea {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
}

footer .socials ul {
    display: flex;
    flex-direction: row;
}

footer .socials {
    margin-top: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

footer .firstcol {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

footer .secondcol {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}

footer .thirdcol {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
}

footer .legalstuff {
    background: #c4c4c4;
}

footer .legalstuff ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    margin: 0%;
}

footer .legalstuff p {
    display: inline;
}
